html, body {
  height: 100%;
}

.header {
  list-style-type: none;
  margin: 10px;
  overflow: hidden;
  margin-right: 16px;
  font-family: arial,sans-serif;
  font-size: 13px;
}

.headerli a {
  display: block;
  color: black;
  text-align: right;
  padding: 5px 5px;
  text-decoration: none;
  float: right;
}

.headerli a:hover {
  text-decoration: underline;
}


.container {
  text-align: center;
  margin: 115px;
}

.search-area {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  margin-top: -77px;
  width: 480px;
  border-radius: 25px;
}

.search-area:hover {
box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}

.search {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
}
.search-mic-img{
  flex: 1 0 auto;
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 0;
  outline: none;
  padding: 0 8px;
  width: 24px;
  line-height: 44px;
  margin-left: 385px;
  margin-top: 7px;
}
.search-img {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.search-img span {
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  margin-top: 0px;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
}

.input-enter {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.input-area {
  color: transparent;
  flex: 100%;
  white-space: pre;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  display: block;
}

.input {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -68px;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: textfield;
  cursor: text;
  border: none;
  background-color: transparent;
}

.googlesearch {
  margin: 11px 4px;
  margin-left: 42%;
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: 1px solid #f8f9fa;
  background-color: #f8f9fa;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color:#3c4043;
  height: 36px;
  border-radius: 4px;
}

.googlesearch:hover {
 border: 1px solid #aaaaaa;
 color: black;
}
.feelinglucky {
  margin-top: 30px;
  margin-right: -42%;
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: 1px solid #f8f9fa;
  background-color: #f8f9fa;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color:#3c4043;
  height: 36px;
  border-radius: 4px;
}
.feelinglucky:hover{
  border: 1px solid #aaaaaa;
  color: black;
}

.footer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #dfe1e5;
  border-top: 1px solid #e4e4e4;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -8px;
  line-height: 18px;
  background: #f2f2f2;
  min-width: 980px;
}

.footerli {
  float: left;
  list-style-type:none;

}

.footerli a {
  display: block;
  color: #5f6368;;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin-left: 14px;
  margin-right: -20px;
}

.footerli a:hover {
  text-decoration: underline;
}
